# Imports

In [1]:
import pandas as pd
import numpy as np
from statsmodels.tsa.stattools import adfuller
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv('../data/preprocessed/walmart/walmart.csv')
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')
df = df.sort_values(['Store', 'Date'])
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106

In [6]:
def perform_adf_test(series, store_id=None, column_name='Weekly_Sales'):
    """Perform ADF test and print results"""
    
    if store_id:
        print(f"\n{'='*50}")
        print(f"ADF Test for Store {store_id} - {column_name}")
        print('='*50)
    
    # Perform ADF test with automatic lag selection
    result = adfuller(series, autolag='AIC')
    
    print(f'ADF Statistic: {result[0]:.4f}')
    print(f'p-value: {result[1]:.4f}')
    
    print('Critical Values:')
    for key, value in result[4].items():
        print(f'\t{key}: {value:.4f}')
    
    # Decision
    if result[1] <= 0.05:
        print(f"Result: Stationary (reject H0 at 5% level)")
    else:
        print(f"Result: Non-Stationary (fail to reject H0)")
    
    return result

# Test 1: Aggregate all stores' weekly sales
print("Test 1: ADF Test on Aggregate Weekly Sales (All Stores)")
all_sales = df.groupby('Date')['Weekly_Sales'].sum().sort_index()
perform_adf_test(all_sales)

Test 1: ADF Test on Aggregate Weekly Sales (All Stores)
ADF Statistic: -5.9083
p-value: 0.0000
Critical Values:
	1%: -3.4786
	5%: -2.8827
	10%: -2.5781
Result: Stationary (reject H0 at 5% level)

(np.float64(-5.908297957186335),
 np.float64(2.675979158986003e-07),
 4,
 138,
 {'1%': np.float64(-3.47864788917503),
  '5%': np.float64(-2.882721765644168),
  '10%': np.float64(-2.578065326612056)},
 np.float64(4314.46014989216))